<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EAEA | <%=title%>! </title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    
    <% if (title === 'Prueba Ejs') { %>
        <h1 class="top-7 bottom-8 text-white font-extrabold font-serif hover:bg-slate-500 text-center bg-slate-800 ">Hola Mundo el titulo es  <%=title%>! </h1>
    <% } %>

</body>
</html>